.input {
  padding: 14px 16px;
  border: 1px solid #D0CFCF;
  border-radius: 4px;
  max-width: 348px;
  width: 100%;
  background: #f8f8f8;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: rgba(0, 0, 0, 0.87);
  outline: none;
}

.input_wrap {
  max-width: 380px;
  width: 100%;
  position: relative;
  margin: 0 auto;
}


.pl_show {
  position: absolute;
  left: 12px;
  font-size: 16px;
  top: 31px;
  padding: 5px;
  transition: all 0.5s ease 0s;
  color: #7E7E7E;
  text-transform: capitalize;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active  {
  -webkit-box-shadow: 0 0 0 40px #f8f8f8 inset !important;
}

.pl_hid {
  position: absolute;
  font-size: 12px;
  top: 5px;
  color: #7E7E7E;
  padding: 6px;
  left: 9px;
  transition: all 0.5s ease 0s;
  background: #f8f8f8;
  text-transform: capitalize;
}

.number_hid {
  display: none;
}

.number_show {
  display: inline;
  position: absolute;
  left: 14px;
  bottom: 0px;
  font-size: 12px;
  color: #7e7e7e;
}

.error_valid_msg {
  color: #CB3D40;
}

.label {
  position: relative;
  display: flex;
  padding: 18px 0;
}

.error_valid {
  position: relative;
  border: 2px solid #CB3D40;
}
